@font-face {
    font-family: 'GoodDog';
    src: url('GoodDogCool.woff2') format('woff2'),
        url('GoodDogCool.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

