a {
    text-decoration: none;
    color: #fff;
}
body {
    background: #6369b1;
    text-align: center;
	-ms-overflow-style: none;
  	scrollbar-width: none;
    text-shadow: 1px 1px black;
}
body::-webkit-scrollbar {
  display: none;
}
canvas {
    box-shadow: 0px 0px 5px #000;
}
td {
	width: 100px;
	vertical-align: top;
	}
button, input[type="file"], #submit, input[type="button"] {
	margin: 10px;
    font: 5pt 'quinquefiveregular';
    padding: 5px;
    color: white;
    background: linear-gradient(#98a3dc, #6369b1);
    border: 1px solid #fff;
}
.example {
	width: 75px;
	height: 75px;
	display: block;
	margin: 0 auto;
}
#product {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	background-color: white;
}
#credits {
	width: 100%;
	position: fixed;
	top: 100%;
	left: 0;
	background-color: #8b000066;
	margin-top: -40px;
	padding-top: 10px;
	text-align: center;
	font-size: 8pt;
	height: 30px; 
}
#getWidth {
	display: inline-block;
	}
#envelope {
    width: 500px;
    min-height: 600px;
    margin-left: -250px;
    left: 50%;
    display: inline-block;
    position: absolute;
    font: 5pt 'quinquefiveregular';
    color: #fff;
    text-shadow: 1px 1px black;
    text-align: left;
}
#tabs {
    height: 30px;
    text-align: left;
    list-style: none;
    margin-left: 10px;
    padding: 0;
    line-height: 24px;
    position: relative;
    display: inline-block;
}
#tabs:before {
    left: -6px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
}
#tabs li {
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 2.5px;
}
#tabs li.active:after {
    box-shadow: -2px 2px 0 #98a3dc;
}
#tabs li.active {
    border-bottom-color: #98a3dc;
    padding: 2.5px;
}
#tabs li.active:before {
    box-shadow: 2px 2px 0 #98a3dc;
}
#tabs:after {
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #000;
    right: -6px;
}
#tabs li:before,
#tabs li:after {
    position: absolute;
    bottom: -1px;
    width: 6px;
    height: 6px;
    content: " ";
    border: 1px solid #000;
    z-index: -1;
}
#tabs li{
    border: 1px solid #000;
    border-bottom-color: #000;
    background: linear-gradient(#98a3dc, #6369b1);
    display: inline-block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: 0 -1px;
    z-index: 10;
}
#tabs li.active {
    background: linear-gradient(#c1caf7, #98a3dc);
    z-index: 30;
}
#tabs li:after {
    right: -6px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #6369b1;
    left: 100%;
}
#tabs li:before {
    box-shadow: 2px 2px 0 #6369b1;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    left: -7px;
}
#tabs ul {
    padding: 0;
    margin: 0;
}
#generator {
    width: 480px;
    padding: 10px;
    min-height: 556px;
    background: blue;
    position: absolute;
    border-radius: 5px;
    background: linear-gradient(#98a3dc, #6369b1);
    border: 1px solid #000;
    z-index: 20;
}
.holder {
    text-align: left;
    padding: 20px 0 20px 0px;
}
#imagedims img{
    height: 50px;
    display: none;
}
input[type=number]{
    width: 50px;
} 
h3 {
    background: linear-gradient(45deg, #4a556d, transparent);
}
table {
    font-size: 5pt;
    color: #fff;
}
input[type="radio"] {
    float: left;
    width: 13px;
}
.holder td p {
    width: 79px;
    float: right;
    line-height: 2em;
    margin-top: 4px;
}
canvas, .example {
    box-shadow: 0px 0px 5px #000;
}